In [47]:
conversacion_de_bar= "los chinos nos comen y si no, al tiempo"
type(conversacion_de_bar)
list(conversacion_de_bar)
conversacion_de_bar.split(" ")

['los', 'chinos', 'nos', 'comen', 'y', 'si', 'no,', 'al', 'tiempo']

In [28]:
def largest(a,b,c):
    if a>b:
        if b>c:
            return a
        else:
            return c
    else:
        if b>c:
            return b
        else:
            return c
largest(2,3,4)   
largest(4,3,2)
largest(2,4,3)
largest(3,2,4)
type(2)

int

In [29]:
def centenario(name,year):
    if type(year)!="int":
        year=int(year)
    return name + " will reach 100 years in "+ str(year+100)
                                            
centenario('Carlos','1980')

'Carlos will reach 100 years in 2080'

In [55]:
path = '/home/dsc/Newrepo/Finn.txt'


f=open(path)



def contador(texto):
    listado=texto.split()
    palabras=0
    letras=0
    for palabra in listado:
        palabras += 1
        for letra in palabra:
            letras+=1
    return palabras,letras

In [69]:
%cd /home/dsc/Data/opentraveldata/
%pwd
%ls -la
#for i in _dh:
#    print(i)

/home/dsc/Data/opentraveldata
total 8048
drwx------ 2 dsc dsc    4096 nov 21 09:54 ./
drwxrwxr-x 7 dsc dsc    4096 mar 28  2019 ../
-rw-rw-r-- 1 dsc dsc      77 nov 20 17:48 20lines.txt
-rw-rw-r-- 1 dsc dsc      21 nov 20 18:16 numbers
-rw-rw-r-- 1 dsc dsc   18612 abr  2  2018 optd_aircraft.csv
-rw-rw-r-- 1 dsc dsc  107306 abr  2  2018 optd_airlines.csv
-rw-rw-r-- 1 dsc dsc 8080005 abr  2  2018 optd_por_public.csv
-rw-rw-r-- 1 dsc dsc    5816 abr  2  2018 ref_airline_nb_of_flights.csv
-rw-rw-r-- 1 dsc dsc     256 nov 21 09:54 sql_aircraft.sql